@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($desktop-small) {
  #contents {
    @include containerPaddingType(desktop);
  }

  .item {
    width: clamp(11rem, 17.2vw, 19rem);
    height: 30rem;

    h2 {
      width: 10rem;
      font-size: $h2-desktop-small;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($desktop-large) {
  .item {
    width: clamp(11rem, 18.3vw, 20rem);
    height: 37rem;

    h2 {
      font-size: $h2-desktop-large;
    }
  }
}
