@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($large) {
  .item {
    height: 30rem;
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($extra-large) {
  .item {
    width: clamp(11rem, 18vw, 20rem);
    height: 37rem;
  }
}