@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($desktop-small) {
  .item {
    height: 30rem;
    
    h2 {
      width: 10rem;
      font-size: $h2-desktop-small;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($desktop-large) {
  .item {
    width: clamp(11rem, 18vw, 20rem);
    height: 37rem;

    h2 {
      font-size: $h2-desktop-large;
    }
  }
}