@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   MOBILE
  ==========================
*/
#contents {
  @include containerPaddingType(mobile);

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "heading"
    "contentsList"
    "button";
}

#contents-heading {
  font-size: $h1-base-size;

  text-align: center;
  grid-area: heading;
}

#contents-button {
  margin: 2rem 0;
  padding-top: 0.3rem;

  grid-area: button;

  width: 9rem;
  height: 2.7rem;

  letter-spacing: 0.1rem;

  border: 1px solid $black;
  background-color: $white;

  h3 {
    margin: 0;

    font-size: $h3-base-size;
  }
}

#contents-list {
  grid-area: contentsList;

  padding: 0;

  width: 100%;

  display: grid;
  grid-template-rows: auto;
  gap: 2rem;

  list-style: none;
}

.item {
  @include flexDisplay(flex-start);

  align-items: flex-end;

  padding: 1.5rem;
  padding-top: 14%;

  width: 100%;

  color: $white;

  h2 {
    margin: 0;

    width: 9rem;

    font-size: $h2-base-size;
  }
}

// Add unique background images to each item
@each $num, $url in $contents-background-mobile {
  #item-#{$num} {
    @include backgroundProps;

    background: linear-gradient(45deg, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)),
      $url;
  }
}
