@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   MOBILE
  ==========================
*/
#contents {
  @include containerPadding;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "heading"
    "contentsList"
    "button";
}

#contents-heading {
  @include headingFont(2rem);

  text-align: center;
  grid-area: heading;
}

#contents-button {
  @include headingFont(1rem);

  margin: 2rem 0;
  padding-top: 0.3rem;

  grid-area: button;

  width: 9rem;
  height: 2.7rem;

  letter-spacing: 0.1rem;

  cursor: pointer;
  border: 1px solid $black;
  background-color: $white;

  h4 {
    margin: 0;
  }
}

#contents-list {
  grid-area: contentsList;

  padding: 0;

  width: 100%;

  display: grid;
  grid-template-rows: auto;
  gap: 2rem;

  list-style: none;
}

.item {
  @include flexDisplay(flex-start);

  align-items: flex-end;

  padding: 1.5rem;
  padding-top: 14%;

  width: 100%;

  color: $white;

  h4 {
    @include headingFont(1.7rem);

    margin: 0;

    width: 10rem;
  }
}

// Add unique background images to each item
@each $num, $url in $contents-background-mobile {
  #item-#{$num} {
    background: linear-gradient(
      45deg,
      hsla(0, 0%, 0%, 0.7),
      hsla(0, 0%, 0%, 0)
    ), $url;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}