@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   TABLET - SMALL
  ==========================
*/
@include mediaBreakpoint($tablet-small) {
  #contents-heading {
    @include headingFont(2.7rem);
  }
}
/*
  ==========================
   TABLET - LARGE
  ==========================
*/
@include mediaBreakpoint($tablet-large) {
  #contents {
    justify-items: left;
    grid-template-areas:
      "heading button"
      "contentsList contentsList";
  }

  #contents-heading {
    @include headingFont(2.7rem);
  
    grid-area: heading;
  }

  #contents-button {
    @include headingFont(1rem);

    justify-self: flex-end;
  }

  #contents-list {
    justify-content: space-between;
    grid-template-columns: repeat(4, auto);
  }

  .item {
    @include flexDisplay(flex-start);

    align-items: flex-end;

    padding: 1.5rem;

    width: clamp(10rem, 18vw, 16rem);
    height: 23rem;

    h4 {
      @include headingFont(1.5rem);

      margin: 0;

      width: 8rem;
    }
  }
}

// Add unique background images to each item
@each $num, $url in $contents-background-desktop {
  #item-#{$num} {
    background: linear-gradient(
      45deg,
      hsla(0, 0%, 0%, 0.7),
      hsla(0, 0%, 0%, 0)
    ), $url;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
