@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($desktop-small) {
  #about {
    margin: 6rem 0;
  }

  #about-article {
    padding: 4.3rem;

    width: 44rem;
    height: 23rem;

    h1 {
      @include headingFont(3.4rem);
    }

    p {
      font-size: 1.2rem;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($desktop-large) {
  #about {
    margin: 7rem 0;
  }

  #about-article {
    width: 50rem;
    height: 24rem;

    transform: translate(0, 15rem);

    h1 {
      @include headingFont(4rem);
    }

    p {
      font-size: 1.4rem;
    }
  }
}