@use '../variables' as *;
@use '../mixins' as *;

#about {
  @include containerPadding;
  @include flexDisplay(space-between);

  margin: 5rem 0;
}

#about-image {  
  width: 70%;
  height: 30rem;

  background-image: url("/src/images/desktop/image-interactive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-article {
  padding: 4rem;
  
  position: absolute;
  right: 3rem;

  width: 35rem;
  height: 20rem;

  background-color: $white;

  transform: translate(0, 8rem);

  h1 {
    @include headingFont(3rem);
    margin: 0;

    color: $black;
  }

  p {
    color: $veryDarkGray;
  }
}
