@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   MOBILE
  ==========================
*/
#about {
  @include containerPaddingType(mobile);
  @include flexDisplay(center);

  flex-direction: column;

  margin-top: 5rem;
}

#about-image {
  // Display image in 16:9 aspect ratio
  padding-top: 56.25%;

  width: 100%;

  background-image: url("/src/images/mobile/image-interactive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-article {
  @include flexDisplay(center);

  flex-direction: column;

  text-align: center;
  background-color: $white;

  h1 {
    margin: 2rem 0;

    width: 95%;

    font-size: $h1-base-size;

    color: $black;
  }

  p {
    margin: 0;

    line-height: 1.8;

    color: $veryDarkGray;
  }
}
