@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   TABLET - SMALL
  ==========================
*/
@include mediaBreakpoint($tablet-small) {
  #about {
    @include containerPaddingType(tablet);
  }

  #about-image {
    background-image: url("/src/images/desktop/image-interactive.jpg");
  }

  #about-article {
    h1 {
      margin: 3rem 0 0;

      padding-bottom: 1rem;

      width: 80%;

      font-size: $h1-tablet-small;
    }
  }
}

/*
  ==========================
   TABLET - LARGE
  ==========================
*/
@include mediaBreakpoint($tablet-large) {
  #about {
    @include flexDisplay(space-between);

    flex-direction: row;

    margin: 2rem 0;
  }

  #about-image {
    width: 80%;
  }

  #about-article {
    display: block;

    padding: 3.5rem;

    position: absolute;
    right: 3rem;

    width: 36rem;
    height: 20rem;

    text-align: left;

    transform: translate(0, 11rem);

    h1 {
      margin: 0;

      font-size: $h1-tablet-large;

      width: 80%;
    }
  }
}
