@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($large) {
  #header-nav {
    // Logo
    img {
      height: 2.6rem;
    }
  }

  #hero-text {
    width: 30rem;
    height: 15rem;

    h1 {
      @include headingFont(3.4rem);

      line-height: 3.3rem;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($extra-large) {
  #header-nav {
    // Logo
    img {
      height: 3.1rem;
    }
  }

  #hero-text {
    margin: 7rem 0;

    width: 35rem;
    height: 17rem;

    h1 {
      @include headingFont(4rem);

      line-height: 3.8rem;
    }
  }
}
