@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($desktop-small) {
  header {
    @include containerPaddingType(desktop);
  }

  #header-nav {
    // Logo
    img {
      height: $logo-size-desktop-small;
    }
  }

  #hero-text {
    width: 30rem;
    height: 15rem;

    h1 {
      font-size: $h1-desktop-small;

      line-height: 3.3rem;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($desktop-large) {
  #header-nav {
    // Logo
    img {
      height: $logo-size-desktop-large;
    }
  }

  #hero-text {
    margin: 7rem 0;

    width: 35rem;
    height: 17rem;

    h1 {
      font-size: $h1-desktop-large;

      line-height: 3.8rem;
    }
  }
}
