@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   TABLET - SMALL
  ==========================
*/
@include mediaBreakpoint($tablet-small) {
  header {
    @include containerPaddingType(tablet);

    height: auto;

    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.3)
      ),
      url("/src/images/desktop/image-hero.jpg");
  }

  #header-nav {
    // Logo
    img {
      height: $logo-size-tablet;
    }
  }

  #hero-text {
    @include flexDisplay(flex-start);

    margin: 5rem 0;
    padding: 0 1.5rem;

    width: 24rem;
    height: 12rem;

    border: 2px solid $white;

    h1 {
      width: auto;

      font-size: $h1-tablet-small;

      line-height: 2.7rem;
    }
  }
}

/*
  ==========================
   TABLET - LARGE
  ==========================
*/
@include mediaBreakpoint($tablet-large) {
  #header-nav {
    ul {
      @include flexDisplay(center);

      list-style: none;

      li {
        margin-left: 2rem;
      }
    }
  }

  #hero-text {
    width: 26rem;
    height: 13rem;

    h1 {
      font-size: $h1-tablet-large;

      line-height: 2.9rem;
    }
  }
}
