@use '../variables' as *;
@use '../mixins' as *;

@include mediaBreakpoint($small) {
  header {
    height: auto
  }

  #header-nav {
    // Logo
    img {
      height: 2rem;
    }
  }

  #hero-text {
    @include flexDisplay(flex-start);

    margin: 5rem 0;
    padding: 0 1.5rem;

    width: 24rem;
    height: 12rem;

    border: 1px solid $white;

    h1 {
      @include headingFont(2.7rem);

      width: auto;

      line-height: 2.7rem;
    }
  }
}
