@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
header {
  padding: 2rem 10%;
  height: 100vh;
  color: white;
  background-image: url("/src/images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-nav img {
  height: 1.6rem;
}
#header-nav ul {
  display: none;
}

#hero-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30vh;
  padding: 7%;
  border: 1px solid white;
}
#hero-text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  width: 70%;
  line-height: 2.2rem;
}

/*
  ==========================
   TABLET - SMALL
  ==========================
*/
@media (min-width: 500px) {
  header {
    height: auto;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("/src/images/desktop/image-hero.jpg");
  }

  #header-nav img {
    height: 2rem;
  }

  #hero-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5rem 0;
    padding: 0 1.5rem;
    width: 24rem;
    height: 12rem;
    border: 1px solid white;
  }
  #hero-text h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.7rem;
    font-weight: 300;
    text-transform: uppercase;
    width: auto;
    line-height: 2.7rem;
  }
}
/*
  ==========================
   TABLET - LARGE
  ==========================
*/
@media (min-width: 860px) {
  #header-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  #header-nav ul li {
    margin: 0 1rem;
  }
}
/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@media (min-width: 1024px) {
  #header-nav img {
    height: 2.6rem;
  }

  #hero-text {
    width: 30rem;
    height: 15rem;
  }
  #hero-text h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.4rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3.3rem;
  }
}
/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@media (min-width: 1440px) {
  #header-nav img {
    height: 3.1rem;
  }

  #hero-text {
    margin: 7rem 0;
    width: 35rem;
    height: 17rem;
  }
  #hero-text h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3.8rem;
  }
}
#about {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}

#about-image {
  width: 70%;
  height: 30rem;
  background-image: url("/src/images/desktop/image-interactive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about-article {
  padding: 4rem;
  position: absolute;
  right: 3rem;
  width: 35rem;
  height: 20rem;
  background-color: white;
  transform: translate(0, 8rem);
}
#about-article h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  color: black;
}
#about-article p {
  color: dimgray;
}

#contents {
  padding: 2rem 10%;
  margin: 2rem 0;
  display: grid;
  align-items: center;
  grid-template-areas: "heading button" "contentsList contentsList";
}

#contents-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  grid-area: heading;
}

#contents-button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0.3rem;
  grid-area: button;
  justify-self: flex-end;
  width: 9rem;
  height: 2.7rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
}
#contents-button h4 {
  margin: 0;
}

#contents-list {
  grid-area: contentsList;
  padding: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.5rem;
  width: clamp(10rem, 18vw, 16rem);
  height: 28rem;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  width: 8rem;
}

#item-1 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-deep-earth.jpg");
}

#item-2 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-night-arcade.jpg");
}

#item-3 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-soccer-team.jpg");
}

#item-4 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-grid.jpg");
}

#item-5 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-from-above.jpg");
}

#item-6 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-pocket-borealis.jpg");
}

#item-7 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-curiosity.jpg");
}

#item-8 {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("/src/images/desktop/image-fisheye.jpg");
}

footer {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}

#footer-nav img {
  height: 2rem;
}
#footer-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 1rem 0 0;
  list-style: none;
}
#footer-nav ul li {
  margin-right: 1rem;
}

#footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
#footer-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 2.4rem;
}
#footer-info ul a {
  margin-left: 1rem;
}

#copyright {
  margin: 1rem 0 0;
  color: dimgray;
}

html {
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Alata", sans-serif;
}/*# sourceMappingURL=main.css.map */