// Set container padding based on display type
@mixin containerPaddingType($display-type) {
  @if $display-type == mobile {
    padding: 2rem 1.3rem;
  } @else if $display-type == tablet {
    padding: 3rem 8%;
  } @else if $display-type == desktop {
    padding: 3rem 10%;
  } @else {
    @error "Invalid display type: #{$display-type}. Choose either mobile, tablet, or desktop value";
  }
}

@mixin flexDisplay($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin backgroundProps {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Set media queries based on given screen size
@mixin mediaBreakpoint($media-size) {
  @media (min-width: #{$media-size}) {
    @content;
  }
}

// Set hover transition effect
// trans-(element)-(property)
@mixin trans-a-borderBottom {
  a {
    transition: border-bottom 0.05s ease-out;
    border-bottom: 0px solid white;

    &:hover {
      border-bottom: 2px solid white;
    }
  }
}
