// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// Logo sizes
$logo-size-mobile: 1.7rem;
$logo-size-tablet: 2.4rem;
$logo-size-desktop-small: 2.6rem;
$logo-size-desktop-large: 3rem;

// Screen sizes
$tablet-small: 500px;
$tablet-large: 860px;
$desktop-small: 1024px;
$desktop-large: 1440px;

// Font sizes
$h1-base-size: 2rem;
$h2-base-size: 1.5rem;
$h3-base-size: 1.1rem;

$h1-tablet-small: calc(#{$h1-base-size} * 1.2);
$h1-tablet-large: calc(#{$h1-base-size} * 1.4);
$h1-desktop-small: calc(#{$h1-base-size} * 1.6);
$h1-desktop-large: calc(#{$h1-base-size} * 1.9);

$h2-tablet-small: calc(#{$h2-base-size} * 1.2);
$h2-tablet-large: calc(#{$h2-base-size} * 1);
$h2-desktop-small: calc(#{$h2-base-size} * 1.1);
$h2-desktop-large: calc(#{$h2-base-size} * 1.3);

$h3-tablet-small: calc(#{$h3-base-size} * 1.2);
$h3-tablet-large: calc(#{$h3-base-size} * 1.4);
$h3-desktop-small: calc(#{$h3-base-size} * 1.6);
$h3-desktop-large: calc(#{$h3-base-size} * 1.9);

// Image backgrounds
$contents-background-desktop: // (id num), (url)
  "1" url('/src/images/desktop/image-deep-earth.jpg'),
  "2" url('/src/images/desktop/image-night-arcade.jpg'),
  "3" url('/src/images/desktop/image-soccer-team.jpg'),
  "4" url('/src/images/desktop/image-grid.jpg'),
  "5" url('/src/images/desktop/image-from-above.jpg'),
  "6" url('/src/images/desktop/image-pocket-borealis.jpg'),
  "7" url('/src/images/desktop/image-curiosity.jpg'),
  "8" url('/src/images/desktop/image-fisheye.jpg');

$contents-background-mobile: // (id num), (url)
  "1" url('/src/images/mobile/image-deep-earth.jpg'),
  "2" url('/src/images/mobile/image-night-arcade.jpg'),
  "3" url('/src/images/mobile/image-soccer-team.jpg'),
  "4" url('/src/images/mobile/image-grid.jpg'),
  "5" url('/src/images/mobile/image-from-above.jpg'),
  "6" url('/src/images/mobile/image-pocket-borealis.jpg'),
  "7" url('/src/images/mobile/image-curiosity.jpg'),
  "8" url('/src/images/mobile/image-fisheye.jpg');