@use '../variables' as *;
@use '../mixins' as *;

/*
  ==========================
   DESKTOP - SMALL
  ==========================
*/
@include mediaBreakpoint($desktop-small) {
  footer {
    padding: 2rem 10%;
  }

  #footer-nav {
    img {
      height: $logo-size-desktop-small;
    }
  }
}

/*
  ==========================
   DESKTOP - LARGE
  ==========================
*/
@include mediaBreakpoint($desktop-large) {
  #footer-nav {
    img {
      height: $logo-size-desktop-large;
    }
  }
}