@use '../variables' as *;
@use '../mixins' as *;

footer {
  @include containerPadding;
  @include flexDisplay(space-between);

  color: $white;
  background-color: $black;
}

#footer-nav {
  img {
    height: 2rem;
  }

  ul {
    @include flexDisplay(center);
    
    padding: 0;
    margin: 1rem 0 0;

    list-style: none;

    li {
      margin-right: 1rem;
    }
  }
}

#footer-info {
  @include flexDisplay(center);

  align-items: flex-end;
  flex-direction: column;

  ul {
    @include flexDisplay(center);

    padding: 0;
    margin: 0;

    height: 2.4rem;
    
    a {
      margin-left: 1rem;
    }
  }
}

#copyright {
  margin: 1rem 0 0;

  color: $veryDarkGray;
}